<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Let's play ping-pong</title>
</head>
<body>
<section id="game">
    <div id="game-start">
        <button id="connect-btn">play</button>

        <input id="as-bot" type="checkbox" checked>
        <label for="as-bot">as bot</label>
    </div>
    <div id="game-info">
        <div>Player1: <span id="player-1">waiting..</span></div>
        <div>Player2: <span id="player-2">waiting..</span></div>
        <div>Connection status: <span id="connect-status">try connect button</span></div>
    </div>
    <div id="game-block">
        <canvas id="game-field"></canvas>
    </div>
</section>

</body>
<script type="application/javascript">
    const msgConfig = "msg-config"
    const msgEndGame = "msg-end-game"
    const msgWithUUID = "msg-uuid"
    const msgPlayerInfo = "msg-player-info"
    const msgStartGame = "msg-game-start"
    const msgClientAction = "msg-client-action"

    const waitingMessage = 'waiting..'

    let width = undefined
    let height = undefined

    const conn_status = document.getElementById('connect-status')

    const players = [
        {info: document.getElementById('player-1')},
        {info: document.getElementById('player-2')}
    ];
    let player = null
    let opponent = null

    const game_block = document.getElementById('game-block')
    game_block.hidden = true

    let conn = null
    let asBot = false
    document.getElementById('connect-btn').addEventListener('click', event => {
        asBot = document.getElementById('as-bot').checked

        if (window['WebSocket']) {
            conn = new WebSocket('ws://' + document.location.host + '/ws')

            conn.onmessage = event => {
                const msg = JSON.parse(event.data)

                const data = msg.data
                switch (msg.type) {
                    case msgConfig:
                        width = data.width
                        height = data.height
                        game_field.setAttribute('width', data.width.toString())
                        game_field.setAttribute('height', data.height.toString())
                        break
                    case msgPlayerInfo:
                        players[data.index].index = data.index
                        players[data.index].uuid = data.uuid
                        players[data.index].radius = data.radius
                        players[data.index].pos = data.pos

                        if (player === null) {
                            player = players[data.index]
                            player.info.innerText = `You [${player.uuid}]`
                        } else if (opponent == null) {
                            opponent = players[data.index]
                            opponent.info.innerText = `Opponent [${player.uuid}]`
                        }

                        break
                    case msgStartGame:
                        game_init()
                        break
                    case msgEndGame:
                        conn.close(1000, 'game over')
                        break
                }
            }

            conn.onclose = (event) => {
                const reason = (event.reason === '') ? '' : `: ${event.reason}`
                conn_status.innerText = event.type + reason
                game_block.hidden = true
                game_end = true
            }
            conn.onopen = () => {
                players.forEach((p) => {
                    p.info.style.backgroundColor = 'white'
                    p.info.innerText = waitingMessage
                })
                conn_status.innerText = 'OK'
                conn.send(JSON.stringify({
                    type: msgWithUUID,
                    data: player === null ? null : player.uuid,
                }))
            }
        }
    });

    const keys = {
        up: false,
        down: false,
        left: false,
        right: false,
    }
    keyDownHandler = (event) => {
        if (game_end) return
        switch (event.code) {
            case 'KeyW':
            case 'ArrowUp':
                keys.up = true
                break
            case 'KeyA':
            case 'ArrowLeft':
                keys.left = true
                break
            case 'KeyS':
            case 'ArrowDown':
                keys.down = true
                break
            case 'KeyD':
            case 'ArrowRight':
                keys.right = true
                break
        }
    }
    keyUpHandler = (event) => {
        switch (event.code) {
            case 'KeyW':
            case 'ArrowUp':
                keys.up = false
                break
            case 'KeyA':
            case 'ArrowLeft':
                keys.left = false
                break
            case 'KeyS':
            case 'ArrowDown':
                keys.down = false
                break
            case 'KeyD':
            case 'ArrowRight':
                keys.right = false
                break
        }
    }
    window.onkeydown = keyDownHandler
    window.onkeyup = keyUpHandler

    const game_field = document.getElementById('game-field')
    const ctx = document.getElementById('game-field').getContext('2d')

    let game_end = true
    let prev_timestamp = null
    game_init = () => {
        game_end = false
        game_block.hidden = false
        requestAnimationFrame(game_run)
    }

    game_run = (timestamp) => {
        if (game_end) {
            return
        }
        if (prev_timestamp === null) prev_timestamp = timestamp

        let dt = (timestamp - prev_timestamp) / 1000
        prev_timestamp = timestamp
        if (asBot) {
            bot_update(dt)
        }
        game_update(dt)
        game_draw(dt)
        game_send(dt)
        requestAnimationFrame(game_run)
    }

    game_send = (dt) => {
        if (conn == null) return
        conn.send(JSON.stringify({
            type: msgClientAction,
            data: {
                left: keys.left,
                right: keys.right,
                up: keys.up,
                down: keys.down,
                dt: dt,
            },
        }))
    }

    game_update = (dt) => {
        // if (keys.up || keys.down) {
        //     player.pos.y += dt * ((keys.down ? speed : 0) + (keys.up ? -speed : 0))
        //     if (player.pos.y <= player.radius) {
        //         player.pos.y = player.radius
        //     }
        //     if (player.pos.y >= height-player.radius) {
        //         player.pos.y = height-player.radius
        //     }
        // }
        // if (keys.left || keys.right) {
        //     player.pos.x += dt * ((keys.right ? speed : 0) + (keys.left ? -speed : 0))
        //     if (player.pos.x <= player.radius) {
        //         player.pos.x = player.radius
        //     }
        //     if (player.pos.x >= width-player.radius) {
        //         player.pos.x = width-player.radius
        //     }
        // }
    }

    game_draw = (dt) => {
        ctx.clearRect(0, 0, width, height)
        ctx.fillStyle = 'lightgray'
        ctx.fillRect(0, 0, width, height)

        players.forEach((p, i) => {
            ctx.beginPath()
            ctx.arc(p.pos.x, p.pos.y, p.radius, 0, 2 * Math.PI)
            ctx.fillStyle = (i === player.index) ? 'lightgreen' : 'red'
            ctx.fill()
        })
    }

    const waitLimit = 1
    let time = 0
    bot_update = (dt) => {
        time += dt
        if (time >= waitLimit) {
            time = 0
            if (keys.up) {
                keys.up = false
                keys.right = true
            } else if (keys.right) {
                keys.right = false
                keys.down = true
            } else if (keys.down) {
                keys.down = false
                keys.left = true
            } else if (keys.left) {
                keys.left = false
                keys.up = true
            } else {
                keys.up = true
            }
        }
    }

</script>
</html>
